body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url('images/creepyBackground.jpg');
  background-repeat: no-repeat;
  background-size: someWidth, someWidth * .75;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  border:20px solid yellow;
  border-radius:1px;
  position:absolute;
  content: url("https://cdn.xl.thumbs.canstockphoto.com/small-pumpkin-picture_csp24510515.jpg");
}

.blinkyDancer{
  width: 120px;
  height:120px;
  content: url("https://comps.canstockphoto.com/closeup-image-of-small-dog-yorkshire-stock-photograph_csp2414009.jpg");
}

.sprintyDancer{
  width: 155px;
  height: auto;
  content: url("images/ufo.png");
}

.flippyDancer {

  content: url("https://cdn.xl.thumbs.canstockphoto.com/small-pumpkin-picture_csp24510515.jpg");
/*  width: 120px;
  height: 120px;*/

  -webkit-animation:spin 0.5s linear 1;
  -moz-animation:spin 0.5s linear 1;
  animation:spin 0.5s linear 1;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }




